*, *::after, *::before {
	box-sizing: border-box;
}

/* Styling for the navigation menu */
/* References for flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

nav{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 75rem){
    header{
        flex-direction: column;
    }
    
}

@media screen and (max-width: 50rem){
    nav{
        flex-direction: column;
        width: 90%;
        text-align: center;
    }
}

