/*
  Main colour: Beige #E7D6C6
  Sub colour: Brown #AC9584
  Accent colour 1: White #FFFFFF
  Accent colour 2: Green #B2C8B0
*/

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
/* 1) Followed this example: https://stackoverflow.com/questions/14676613/how-to-import-google-web-font-in-css-file */
/* The font used was from Google Fonts: https://fonts.google.com/specimen/Quicksand */

/* Font's used for Jenn's webpage*/
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;700&family=Merriweather+Sans:wght@350;400&family=Josefin+Sans:wght@700&display=swap');
/* Font used: https://fonts.google.com/specimen/Be+Vietnam+Pro */
/* Font used: https://fonts.google.com/specimen/Josefin+Sans? */
/* Font used: https://fonts.google.com/specimen/Merriweather+Sans */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;

}

body {
  font-family: "Quicksand", Helvetica, sans-serif;
  font-size: 18px;
  padding: 2rem;
  background-color: #E7D6C6;
  color: #AC9584;
}

/* 2) Adding a space between the sections */
section{
  margin-bottom:2rem; 

  /* Set a background color to clearly see the change in section spacing */
  background-color: white;  
  padding: 1rem;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #AC9584;
}

h1 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
}

h4 {
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
}

p {
  margin-top: 0;
  font-weight: 400;
}

nav a {
  color: white;
  display: inline-block;
  background-color: #AC9584;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  transition: background-color 0.5s ease-out;
}

nav a:hover, nav a:focus {
  /*text-decoration: none;
  background-color: white;*/
  color: white;
  background-color: #B2C8B0;
}

code {
  background-color: rgb(178, 200, 176);
  color: white;
  padding: 0.5rem;
  display: block;
}

.link {
  color: #AC9584;
}

.item-link {
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
  color: #AC9584;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: #AC9584;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  border-radius: 8px; /* Used the following example: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_round_buttons */
}

.button-nav:hover, .button-nav:focus {
  color: white;
  background-color: #B2C8B0;

}

/* 3) Adding a different hover and focus state styling to in-text link */
a {
  color: #AC9584 ;
}

a:hover, a:focus {
  /*color: #AC9584;*/
  color: #B2C8B0;
}

/* 4)  Adding a different hover and focus state styling to image as link */
/* Followed this example: https://www.w3schools.com/howto/howto_css_image_overlay.asp */
.image:hover, .image:focus {
  opacity: 0.6;
}

/* 6) Building Forms (Shay Howe) - https://learn.shayhowe.com/html-css/building-forms/ */
label {
  color: #AC9584;
}

input {
  background-color: #AC9584;
  opacity: 80%;
  border-color: #AC9584;
  font: "Quicksand", Helvetica, sans-serif;
  font-weight: 400;
  color: white;
  text-shadow: none;
  border-radius: 5px;
}

input:hover, input:focus {
  background-color: #B2C8B0;
  color: white;
  border-color: #B2C8B0;
}

input [type='radio']:after {
  background-color: #B2C8B0;
}

input [type='radio']:checked:after {
  background-color: #B2C8B0;
}

/* 
  TEXT ELEMENTS -------------------
*/

/* 5) Changing the width of paragraph element */
/* Followed lecture examples */
p {
  max-width: 100%;
}


/* 
  COMBINED ELEMENTS -------------------
*/

/* Followed these examples: https://flexboxfroggy.com/ */

.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menu-sub {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.items-sub {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-bottom: 1.5em;
}

.cart-items {
  display: flex;
  flex-direction: row;
  padding: 1em;
}

.cart-sub {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.inspiration-items {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
}

.about-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-main img{
  width: 90%;
  max-width: 1080px;
}

.about-sub {
  text-align: center;
  margin: 2em 0 0 0;
  max-width: 70%;
  padding: 0 2em 2em 2em;
}

.contact-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items:flex-start;
  padding: 1em;
}

.contact-infos {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.payment-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Styling the radio button. Used the following example: https://usefulangle.com/post/389/css-radio-button-color */

.radio-item label {
  color: #AC9584;
}

input[name="option"] {
  accent-color: #B2C8B0;
}

input[type="add"] {
  font: "Quicksand", Helvetica, sans-serif;
  text-align: center;
}

.box_form h4{
  margin-bottom: 1rem;
}

.box_form label{
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: block;
}

.box_form input, .box_form textarea{
  margin: 0 1.5rem 1.2rem 0;
  padding: 0.5rem 1rem 0.5rem 0.7rem;
  border: 0.1rem solid #AC9584;
  background-color: white;
  color: #AC9584;
  width: 200px;
}

.box_form_item_col{
  margin-right: 1rem;
}

.box_form_item_col input {
  margin: 0 1.5rem 1.2rem 0;
  padding: 0.5rem 1rem 0.5rem 0.7rem;
  border: 0.1rem solid #AC9584;
  background-color: white;
  color: #AC9584;
  width: 200px;
}

.box_form input:hover, .box_form textarea:hover, .box_form input:focus, .box_form textarea:focus{
  background-color: white;
  border-color: #B2C8B0;
}

.box_form textarea{
  width: 100%;
  overflow: auto;
  margin-top: 0.5rem;
}

/* Styling for checkout/booking form */
.box_checkout, .box_booking{
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: white;
}

.box_checkout .button, .box_booking .button{
  margin: 2rem 0 1rem 0;
}

/* Styling for items within the checkout/booking form */
.box_checkout_item, .box_booking_item{
  width: 60%;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}

/* Styling for summary of "cart" items */
.box_checkout_details{
  background-color: #AC9584;
  opacity: 75%;
  color: white;
  padding: 1rem;
  margin: 0.5rem 0 0.5rem 0;
}

/* Styling for text inside the checkout cart */
.prices, .total{
  float:right;
}

.title{
  padding-top: 0.5rem;
}