/*
  Main colour: Beige #E7D6C6
  Sub colour: Brown #AC9584
  Accent colour 1: White #FFFFFF
  Accent colour 2: Green #B2C8B0
*/

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
/* 1) Followed this example: https://stackoverflow.com/questions/14676613/how-to-import-google-web-font-in-css-file */
/* The font used was from Google Fonts: https://fonts.google.com/specimen/Quicksand */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;

}

body {
  font-family: "Quicksand", Helvetica, sans-serif;
  font-size: 18px;
  padding: 2rem;
  background-color: #E7D6C6;
  color: #AC9584;
}

/* 2) Adding a space between the sections */
section{
  margin-bottom:2rem; 

  /* Set a background color to clearly see the change in section spacing */
  background-color: white;  
  padding: 1rem;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #AC9584;
  width: 100%;
}

h1 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
}

h4 {
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
}

h5 {
  margin-top: 0.25rem;
}


p {
  margin-top: 0;
  font-weight: 400;
}

nav a {
  color: white;
  display: inline-block;
  background-color: #AC9584;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  text-decoration: none;
  transition: background-color 0.5s ease-out;
}

nav a:hover, nav a:focus {
  /*text-decoration: none;
  background-color: white;*/
  color: white;
  background-color: #B2C8B0;
}

code {
  background-color: rgb(178, 200, 176);
  color: white;
  padding: 0.5rem;
  display: block;
}

.link {
  color: #AC9584;
  text-decoration: none;
}

.reviews-link {
  padding: 0 0.5rem 0 0.5rem;
  color: #AC9584;
}

.item-link {
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
  color: #AC9584;
  text-decoration: none;
}

.item-link:hover, .item-link:focus {
  color: #B2C8B0;
}

input, textarea{
  font-family: "Quicksand", Helvetica, sans-serif;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  font-size: 1em;
  background-color: #AC9584;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  border-radius: 8px; /* Used the following example: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_round_buttons */
}

.button-nav:hover, .button-nav:focus {
  color: white;
  background-color: #B2C8B0;
}

input[type=submit] {
  display: inline-block;
  padding: 0.5rem;
  font-size: 1em;
  color: white;
  background-color: #AC9584;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  border-radius: 8px; /* Used the following example: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_round_buttons */
  border: 2px solid #AC9584; /* Used the following example: https://stackoverflow.com/questions/32459646/removing-the-shadow-from-a-button */
}

input[type=submit]:hover, input[type=submit]:focus {
  color: white;
  background-color: #B2C8B0;
  border: 2px solid #B2C8B0;
}

input[type=reset] {
  display: inline-block;
  padding: 0.5rem;
  font-size: 1em;
  color: white;
  background-color: #AC9584;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  border-radius: 8px; /* Used the following example: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_round_buttons */
  border: 2px solid #AC9584; /* Used the following example: https://stackoverflow.com/questions/32459646/removing-the-shadow-from-a-button */
}

input[type=reset]:hover, input[type=reset]:focus {
  color: white;
  background-color: #B2C8B0;
  border: 2px solid #B2C8B0;
}

.button-add {
  display: inline-block;
  margin: 0.5rem 0 0 0;
  padding: 0.5rem;
  font-size: 1rem;
  width: 10rem;
  text-align: center;
  color: white;
  background-color: #AC9584;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  border-radius: 8px; /* Used the following example: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_round_buttons */
}

.button-add:hover, .button-add:focus {
  color: white;
  background-color: #B2C8B0;
}

/* 3) Adding a different hover and focus state styling to in-text link */
a {
  color: #AC9584 ;
}

a:hover, a:focus {
  /*color: #AC9584;*/
  color: #B2C8B0;
}

/* 4)  Adding a different hover and focus state styling to image as link */
/* Used the following example: https://www.w3schools.com/howto/howto_css_image_overlay.asp */
.image:hover, .image:focus {
  opacity: 0.6;
}

.img-confirm{
  width: 20%;
}

.logo-image{
  width: 335.1px;
  height: 52.5px;
}

/* 6) Building Forms (Shay Howe) - https://learn.shayhowe.com/html-css/building-forms/ */
label {
  color: #AC9584;
}

input {
  background-color: #AC9584;
  opacity: 80%;
  border-color: #AC9584;
  font: "Quicksand", Helvetica, sans-serif;
  font-weight: 400;
  color: white;
  text-shadow: none;
  border-radius: 5px;
}

input:hover, input:focus {
  background-color: #B2C8B0;
  color: white;
  border-color: #B2C8B0;
}

input [type='radio']:after {
  background-color: #B2C8B0;
}

input [type='radio']:checked:after {
  background-color: #B2C8B0;
}

/* 
  TEXT ELEMENTS -------------------
*/

/* 5) Changing the width of paragraph element */
/* Followed lecture examples */
p {
  max-width: 100%;
}


/* 
  COMBINED ELEMENTS -------------------
*/

/* Used the following: https://flexboxfroggy.com/ */

.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menu-sub {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0.5rem;
}

.menu-sub h5 {
  margin: 1em;
}

.menu-items img{
  width: 180px;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.items-sub {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-bottom: 1.5em;
}

.cart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.cart-header {
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 0.15rem solid #AC9584;
  border-bottom: 0.15rem solid #AC9584;
  margin-bottom: 2em;
}

.cart-items {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 0 2em 0;
}

/*Resource used: https://stackoverflow.com/questions/72691591/first-child-and-second-in-flexbox*/
.cart-child-last{
  flex: 0 0 20%;
}

.cart-child-nth{
  flex: 0 0 30%;
}

.cart-item-descrip {
  display: flex;
  flex-direction: column;
}

.cart-items img {
  width: 50%;
}

.cart-banner{
  text-align: center;
}

.inspiration-items {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
}

.about-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-main img{
  width: 90%;
  max-width: 1080px;
}

.about-sub {
  text-align: center;
  margin: 2em 0 0 0;
  max-width: 70%;
  padding: 0 2em 2em 2em;
}

.contact-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items:flex-start;
  padding: 1em;
}

.contact-main img{
  width: 100%;
  max-width: 800px;
}

.contact-infos {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.updates-element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #AC9584;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.updates-sub {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

.updates-img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: auto;
  padding-bottom: 2em;
}

.updates-img2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: auto;
  padding-bottom: 2em;
}

.payment-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reviews{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.review-section{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.box-review{
  width: 70%;
  margin: 2rem 0 0 0 ;
  border: 1px solid #d9cebe;
  box-shadow: 0.3rem 0.3rem #d9cebe; /* Retrieved from: https://www.w3schools.com/cssref/css3_pr_box-shadow.php */
  padding: 1rem;
}

.review-content{
  border-top: 0.1rem solid #AC9584;
}

/* Styling the radio button. Used the following example: https://usefulangle.com/post/389/css-radio-button-color */

.radio-item label {
  color: #AC9584;
}

input[name="option"] {
  accent-color: #B2C8B0;
}

input[type="add"] {
  font: "Quicksand", Helvetica, sans-serif;
  text-align: center;
}

/* Reservation Form Elements*/

.box-banner{
  text-align: center;
}

.box-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box_form h4{
  margin-bottom: 1rem;
}

.box_form label{
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: block;
}

.box_form input, .box_form textarea{
  margin: 0 1.5rem 1.2rem 0;
  padding: 0.5rem 1rem 0.5rem 0.7rem;
  border: 0.1rem solid #AC9584;
  background-color: white;
  color: #AC9584;
  width: 100%;
}

.box_form_item_col{
  margin-right: 1rem;
}

.box_form_item_col input {
  margin: 0 1.5rem 1.2rem 0;
  padding: 0.5rem 1rem 0.5rem 0.7rem;
  border: 0.1rem solid #AC9584;
  background-color: white;
  color: #AC9584;
  width: 100%;
}

.box_form input:hover, .box_form textarea:hover, .box_form input:focus, .box_form textarea:focus{
  background-color: white;
  border-color: #B2C8B0;
}


/* Used the following example: https://stackoverflow.com/questions/43427993/change-the-color-of-a-input-field-when-selected */
input[type=text]:focus, input[type=email]:focus, input[type=date]:focus, input[type=time]:focus, input[type=number]:focus, input[type=month]:focus {
  outline: 2px solid #B2C8B0;
}

textarea[name=notes]:focus {
  outline: 2px solid #B2C8B0;
}

.box_form textarea{
  width: 100%;
  overflow: auto;
  margin-top: 0.5rem;
}

/* Styling for checkout/booking form */
.box_booking{
  padding: 1rem;
  margin-bottom: 1rem;
  background-color:white;
  width: 100%;
}

/* Styling for items within the checkout/booking form */
.box_booking_item{
  width: 60%;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}

/* Product Page and Product Confirmation Styling*/

.product-main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
}

.product-main img{
  width: 40%;
  object-fit: cover;
}

.product-options{
  padding: 0 2rem 0 2rem;
}

.box-confirm{
  display: flex;
  text-align: center;
}

.box-confirm-item{
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

/* Styling for footer */

footer {
  /*background-color: #AC9584;*/
  /* padding-left: 10em;
  padding-right: 10em; */
  margin: auto;
  width: 70%;
}

.footer-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-start;
}

.footer-nav-element {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.footer-logo {
  margin-bottom: 0.65em;
}

.footer-nav {
  text-decoration: none;
  color: #AC9584;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.35em;
}

.footer-nav:hover, .footer-nav:focus {
  color: white;
  text-decoration: underline;
  text-decoration-color: #B2C8B0;
}

.footer-button-nav {
  font-size: 0.9rem;
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: #AC9584;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  border-radius: 8px;
}

.footer-button-nav:hover, .footer-button-nav:focus {
  color: white;
  background-color: #B2C8B0;
}

.footer-form-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-element {
  padding-bottom: 1rem;
  margin-top: 1em;
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: #AC9584;
  width: 100%;
}

footer section {
  background-color: #E7D6C6;
  border-top: 5em;
}

footer p {
  color: #AC9584;
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
}

.footer_box_form h4{
  margin-bottom: 1rem;
}

.footer_box_form label{
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: block;
}

.footer_box_form input, .footer_box_form textarea{
  margin: 0 1.5rem 1.2rem 0;
  padding: 0.5rem 1rem 0.5rem 0.7rem;
  border: 0.1rem solid #AC9584;
  background-color: white;
  color: #AC9584;
  width: 100%;
}

.footer_box_form input:hover, .footer_box_form textarea:hover, .footer_box_form input:focus, .footer_box_form textarea:focus{
  background-color: white;
  border-color: #B2C8B0;
}

.box_form textarea{
  width: 100%;
  overflow: auto;
  margin-top: 0.5rem;
}
